name: Super-Linter

on:
  push:
    branches: [main]

jobs:
  lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v3
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy source do remote server
    runs-on: ubuntu-latest
    steps:
      - name: test ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{secrets.KEY}}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/piomax/domains/piomax.net/public_html/slot/subme.app
            git status
      - name: create deploy tarball
        run: |
          mkdir ../build
          cp -TR ./build ../build
          tar -cvf deploy.tar ../build/
      - name: copy build to remote
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: "deploy.tar"
          target: "/home/piomax/domains/piomax.net/public_html/slot/subme.app"
